body {
	font-family: Helvetica,Arial,sans-serif;
	font-size: 32px;
	background-color: black;
	color:white;
}

a {
	color:red;
}

/*Index Homepage*/

.index-intro {
	font-size: 18px;
	margin-bottom: 25vh;
	padding: 10px;
}

.index-row {
	display: flex;
	flex-wrap: wrap;
	padding: 10px;
	margin-bottom: 5px;
	margin-top:5px;
	border-top: 2px solid white;
}

.index-name {
	flex: 0 0 50%;
}

.index-layer {
	flex: 0 0 25%;
}

.index-tag {
	flex: 0 0 25%;
}

/*URL*/
.url{
	background-color: red;
	height:100vh;
	width:100vw;
	display: flex;
	align-items:center;
	justify-content: center;
}

.url-text {
	color:white;
	font-size: 15vw;
	text-align: center;
}

/*SUB*/
.sub{
	background-color:red;
	height:100vh;
	width:100vw;
	display:flex;
	align-items:center;
	justify-content:center;
}

.sub-text{
	color:gainsboro;
	font-size: 5vw;
	text-align: center;
}

/*Seconds*/
.seconds{
	background-color:darkslategray;
	height:100vh;
	width:100vw;
	display:flex;
	align-items:center;
	justify-content:center;
}

.seconds-text{
	color:darkgray;
	font-size: 5vw;
	text-align: center;
}

/*IP Address*/
.ip{
	background-color:cyan;
	height: 100vh;
	width: 100vw;
	display: flex;
	align-items: center;
	justify-content: center;

}

.ip-text{
	color:magenta;
	font-size: 50vw;
	text-align: center;

}

/*IP END*/



/*Grassblock and silicon board COMMENCE*/

.checkers {
	display: flex;
	flex-wrap: wrap;
}

.checkers-limegreen{
	width: 20vw;
	height: 25vh;
	background-color: limegreen;
}

.checkers-lawngreen{
	width: 20vw;
	height: 25vh;
	background-color: lawngreen;
	}

.checkers-forestgreen{
	width: 20vw;
	height: 25vh;
	background-color: forestgreen;
}

.checkers-darkgreen{
	width: 20vw;
	height: 25vh;
	background-color: darkgreen;
}

.checkers-sienna{
	width: 20vw;
	height: 25vh;
	background-color: sienna;
}

.checkers-peru{
	width: 20vw;
	height: 25vh;
	background-color: peru;
}

.checkers-saddlebrown{
	width: 20vw;
	height: 25vh;
	background-color: saddlebrown;
}

.checkers-gold{
	width: 20vw;
	height: 25vh;
	background-color: gold;
}

.checkers-lightyellow{
	width: 20vw;
	height: 25vh;
	background-color: lightyellow;
}

.checkers-type{
	width: 100vw;
	height:100vh;
	display: flex;
	align-items: center;
	justify-content: center;
	position: fixed;
	left: 0;
	top: 0;

}

.checkers-text {
	font-size: 10vw;
	color: white;
}

/*Circle marble COMMENCE*/

.cloud-pattern{
	display: flex;
	flex-wrap:wrap;
	background-color:dimgray;
}

.cloud-circle {
	width:100vw;
	height: 100vh;
	background-image:linear-gradient(aquamarine, dodgerblue);
	border-radius: 50%;

}

/*chip COMMENCE*/

.chip-container{
	width: 100vw;
	height: 100vh;
	display: flex;
	align-items: center;
	justify-content: center;
	background-color: springgreen;
}

.chip {
	width: 60vh;
	height: 60vh;
	display: flex;
	align-items: center;
	justify-content: center;
	border: 20px solid saddlebrown;
	border-radius: 50px;
	padding: 5vh;
	background-image:linear-gradient(peachpuff, orange);
}

.text{
	color: saddlebrown;
	font-size: 5vw;
}














