body {
	font-family: Arial Narrow,sans-serif;
	font-size: 25px;
	background-color: white;
	margin-bottom: 5px;
	color:black;
	cursor: crosshair;
}

a {
	color:black;
	cursor: cell;
}

iframe {
	
}

span {
	font-size: 15px;
}

img {
	height: ;
}

hr {
	border-top: 1.5px solid black;
	margin-top:30px;
	margin-bottom:40px;
}



/* Nav */


.header{
	width: ;
	display: inline-block;
	
}

.header-container{
	display: inline-flex;
	margin-top:25vh;
	margin-bottom: 20px;
}

.logo{
	height: 100%;
	display: inline-block;
}

.logo img{
	width:30vw;
	align-content: top;
}

.text-nav-bar{
	display: inline-block;
	align: right;
	right: 0;
	width: 68vw;
	line-height:30px;
}

.button{
	display: inline-block;
}

.button a{
	padding-left:2px;
	padding-right:2px;
	text-decoration:none;
	border:1.5px solid black;
	background-color: #f1ef8e;
}

.button:hover a{
	background-color:#ff92be;
	color:#ea0a0a;
	border: 1.5px solid #ea0a0a;
}

.bio{


}

.credits{
	font-size: 15px;
	padding-top: 5px;
	line-height:15px;
}

/* Projects*/

.blocks{

}


/* Type */


.project{
	padding-bottom:5vh;
}

.title{
	font-style: normal;
	padding-left: 10px;
	padding-bottom: 7px;
	padding-top:7px;

}

.caption{
	font-size: 15px;
	padding-left: 10px;
	padding-top: 5px;
	width: ;
	/*font-style: italic;*/

}


/*scroll bars*/ 

.scrolling-wrapper::-webkit-scrollbar {
	outline: 1.5px solid black;
	cursor: cell;
	-webkit-cursor: cell;
	/*box-shadow: inset 0 0 5px grey;*/
}
.scrolling-wrapper::-webkit-scrollbar.active {
	cursor: cell;
	-webkit-cursor: cell;
}

.scrolling-wrapper::-webkit-scrollbar-thumb {
	outline: 1.5px solid black;
	cursor: cell;
	background: white;
}

.scrolling-wrapper::-webkit-scrollbar-track-piece{


}

/* Galleries */

.scrolling-wrapper {
  overflow-x: scroll;
  overflow-y: hidden;
  white-space: nowrap;
  user-select: none;
  will-change: transform;
  position: relative;
  /*-webkit-overflow-scrolling: touch;*/
 }

 .scrolling-wrapper.active {
 	cursor: cell;
 	-webkit-cursor: cell;
 }

.scrolling-wrapper img{
	display: inline-flex;
 
	
}

.scrolling-wrapper iframe{
	height:75vh;
	
}

.scrolling-wrapper video{
	height:75vh;
}

.card {
    margin:-3px;
    display: inline-flex;
  }

  .card img {
  	height: 75vh;
  	display: inline-flex;
    align-items: left;
  justify-content: left;
  }

 .card-gap {
    display: inline-flex;
    margin-right: 10vh;
  }

/* 3:4 Video */

.video34{
		display: inline-block;
    margin:-3px;
}

.video34 iframe{
    width: 60vh;
}

/* 16:9 Video */

.video169{
		display: inline-block;
    margin:-3px;
}

.video169 iframe{
    width: 123vh;
}

.videocs{
	display: inline-block;
    margin:-3px;
}

.videocs iframe{
	width: 132vh;
}

.videoko{
	display: inline-block;
    margin:-3px;
}

.videoko iframe{
	width:125vh;
}

/* 9:16 Video */

.video916{
		display: inline-block;
    margin:-3px;
}

.video916 iframe{
    width: 42vh;
}

/* 1:1 Video */

.video11 {
	display: inline-block;
   margin:-3px;
}
.video11 iframe{
   width: 75vh;
}











