body {
	font-family: Arial Narrow,sans-serif;
	font-size: 25px;
	background-color: white;
	margin-bottom: 5px;
	color:black;
	cursor: crosshair;
}

a {
	color:black;
	cursor: cell;
}

iframe {
	
}

span {
	font-size: 15px;
}

img {
	height: ;
}

hr {
	border-top: 1.5px solid black;
	margin-top:30px;
	margin-bottom:40px;
}

/* Nav */

.header{
	width: ;
	display: inline-block;
	
}

.header-container{
	display: inline-flex;
	margin-top:25vh;
	margin-bottom: 20px;
}

.logo{
	height: 100%;
	display: inline-block;
}

.logo img{
	width:30vw;
	align-content: top;
}

.text-nav-bar{
	display: inline-block;
	align: right;
	right: 0;
	width: 68vw;
	line-height:30px;
}

.button{
	display: inline-block;
}

.button a{
	padding-left:2px;
	padding-right:2px;
	text-decoration:none;
	border:1.5px solid black;
	background-color: #f1ef8e;
}

.button:hover a{
	background-color:#ff92be;
	color:#ea0a0a;
	border: 1.5px solid #ea0a0a;
}

.bio{


}

.credits{
	font-size: 15px;
	padding-top: 5px;
	line-height:15px;
}

/* Projects*/

.blocks{

}


/* Type */

.project{
	padding-bottom:5vh;
}

.title{
	font-style: normal;
	padding-left: 10px;
	padding-bottom: 7px;
	padding-top:7px;

}

.caption{
	font-size: 15px;
	padding-left: 10px;
	padding-top: 5px;
	width: ;
	/*font-style: italic;*/

}

/* Galleries */

.scrolling-wrapper {
  overflow-x: scroll;
  overflow-y: hidden;
  white-space: nowrap;
  -webkit-overflow-scrolling: touch;
 }

.scrolling-wrapper img{
	height: 75vh;
}

.scrolling-wrapper iframe{
	height:75vh;
	width: 123vh;
}

.scrolling-wrapper video{
	height:75vh;
}

.card {
    display: inline-block;
    margin:-3px;
  }


.digi-card{
	display: inline-block;
	margin:-3px;
	/* margin-right:8vw; */
}










